#* @vtlvariable name="user" type="com.jd.domain.User" *#
#* @vtlvariable name="userId" type="java.lang.Integer" *#
#* @vtlvariable name="result" type="com.jd.common.web.result.Result" *#

#if($result.success)
    修改成功:userID==$!user.id ;name==$!user.userAccount <br/>
    <a href="list.action">列表页</a>
#else
    #parse("/WEB-INF/vm/user/update.vm")
#end
